<div class="container">
  <div class="policy-deatil-card">
      <div class="col-12 mb-4 mt-md-4 mt-3">
        <div class="title">
            <h1>Enter Policy Details</h1>
            <p>Please provide your details for validation </p>
            <p class="text-danger">{{errText}}</p>
        </div>
      </div>
      <form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
          <div class="col-md-9 col-lg-8">    
              <div class="form-group">
                  <label for="policy">Policy Number<span class="text-danger">*</span></label><div class="d-inline-block tooltip-icon mb-2 ml-2"><span class="tooltiptext">Please refer to your <a href="#">Group Medical / Member card</a></span><img src="../../assets/images/info-icon.png"></div>
                  <div class="d-block">
                      <div class="d-inline-block lg-input-wd mb-2"><input required type="text" formControlName="policyNumber" class="form-control" id="policy" placeholder="e.g. GHS12345"></div><span class="hyphen-col">-</span>
                      <div class="d-inline-block sm-input-wd mb-2"><input type="text" formControlName="policyText" class="form-control" id="pp" placeholder="e.g. 000"></div>
                  </div>
                  <p class="text-danger form-error" *ngIf="(policyForm.controls['policyNumber'].dirty && policyForm.controls['policyText'].dirty) &&(policyForm.controls['policyNumber'].invalid || policyForm.controls['policyText'].invalid)">{{policyFormValidationMessages.policyNumber}}</p>
                </div>
                <div class="note-text mt-md-2">
                  <p><span>Note:</span> Policy No. with 4 digits only needs to add prefix 0 (e.g. Policy No: GHS1234 Input: GHS01234)</p>
                </div>
                <div class="form-group">
                  <label for="cerificate">Certificate Number<span class="text-danger">*</span></label><div class="d-inline-block tooltip-icon mb-2 ml-2"><span class="tooltiptext">Lorem Ipsum</span><img src="../../assets/images/info-icon.png"></div>
                  <div class="d-block">
                      <div class="d-inline-block lg-input-wd mb-2"><input required type="text" formControlName="certificateNumber" placeholder="e.g. CR000000" class="form-control" id="certificate"></div><span class="hyphen-col">-</span>
                      <div class="d-inline-block sm-input-wd mb-2"><input type="text" formControlName="certificateText" class="form-control" id="pc" placeholder="e.g. 00"></div>
                  </div>
                  <p class="text-danger form-error" *ngIf="(policyForm.controls['certificateNumber'].dirty && policyForm.controls['certificateText'].dirty) &&(policyForm.controls['certificateNumber'].invalid || policyForm.controls['certificateText'].invalid)">{{policyFormValidationMessages.certificateNumber}}</p>
                </div>
                <div class="form-group">
                    <label for="passport">HK ID/ Passport No<span class="text-danger">*</span></label><div class="d-inline-block tooltip-icon mb-2 ml-2"><span class="tooltiptext t-position"><p>e.g. Hong Kong ID:A123456(7)   Input: A12345</p>
                      <p>e.g. Password No: AB123456     Input: AB1234</p></span><img src="../../assets/images/info-icon.png"></div>
                    <div class="d-block">
                      <div class="d-inline-block lg-input-wd mb-2"><input required type="text" formControlName="passportNumber" placeholder="e.g. A123456"  class="form-control" id="passport"></div>
                    </div>
                    <p class="text-danger form-error" *ngIf="policyForm.controls['passportNumber'].dirty && policyForm.controls['passportNumber'].invalid">{{policyFormValidationMessages.passportNumber}}</p>
                  </div>
          </div>
        <div class="d-flex justify-content-md-end justify-content-center col-12 mt-4">
          <button type="submit" class="btn next-btn">Continue</button>
        </div>
      </form>
      <div *ngIf="loading" class="loader-overlay d-flex align-items-center justify-content-center">
          <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
      </div>
  </div>
</div>