<div class="container">
    <div class="policy-deatil-card">
       <div class="d-flex p-sm-5 wrap-confirm-tbox flex-column justify-content-center align-items-center text-center m-auto">
         <div class="mb-3"><img class="d-none d-md-block" src="../../assets/images/thank-you-check.png"><img class="d-md-none" src="../../assets/images/thank-you-sm-check.png"></div>
         <div class="title mb-2">
           <h1>Thank you for your submission!</h1>
          <p>Your request has been submitted sucessfully and we will process this request as soon as possible</p>
          </div>
          <div class="code-box p-4">
            <p>Please Provide the reference code below for assistance by contacting us at +852 2892 3809</p>
            <h3>EC190920001</h3>
            <button class="btn" [@slideInOut] (click)="copyReferenceCode('EC190920001')">{{buttonText}}</button>
          </div>

       </div>
    </div>
</div>
